
/* div.parentDiv {
    width: 1300px;
    height: 900px;
    justify-content: center;
    align-items: center;
    display: grid;
    background-color: red;
} */


/* div.listed {
    display: inline-block;
} */

/* img.selected:hover {
    border: 10px solid blue;
}
 */
/* img.listed {
    width: 300px;
    height: 200px;
    border: 10px solid red;
} */

/* img.selected {
    width: 1260px;
    height: 640px;
    border: 10px solid red;
}
 */


/* img.listed:hover {
    cursor: pointer;
    border: 10px solid blue;
} */